@import "tailwindcss";

 
.cart {
  @apply hidden fixed w-75 p-8 right-0 top-0 mt-5;
  background: #000;
}
.cart img {
  @apply rounded w-10  max-w-2/3 mt-5;
}
.cart li {
  @apply pb-4 border-b-[#444] border-b border-solid;
}
.cart footer {
  @apply flex gap-1.5 justify-center items-center;
}
.cart footer button {
  @apply p-2;
}
.cart-button {
  @apply items-center cursor-pointer flex h-8 justify-center absolute transition-all duration-[0.3s] ease-[ease] w-8 z-[9999] p-1 rounded-full right-2 top-2;
  background: #09f;
}
.cart-button:hover {
  scale: 2.1;
}
.cart-button ~ input:checked ~ .cart {
  @apply h-full block;
}
.cart-left {
  @apply  text-white   max-h-max mt-5 bg-amber-950 rounded-2xl
}
