
.search-box {
    /*background-color: #dddddd;
    width: 85%;*/
    margin: auto;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5px;
   /* position: absolute;*/ 
     
  }

  .form-item-help {
    position: absolute;
    margin-left: -14px;
    margin-top: 3px;
  }

  .my-input-number {
    width: 100px;
  }

  .el-row {
    margin-bottom: 5px;
  }

  .el-col {
    border-radius: 4px;
  }

  hr {
    width: 100%;
  }