@import "tailwindcss";

@layer base {
  body {
    @apply      bg-black bg-gradient-to-b from-black via-sky-100 to-gray-100  bg-no-repeat
  }
  root {
    @apply font-normal line-clamp-1 text-white

  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #1d1c1b;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1b0303;
    border-radius: 100vh;
    border: 3px solid #0f0f0e;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #111111;
  }
}


*/
*,
*::before,
*::after {
  @apply box-border font-[normal] m-0;
}


#root {
  @apply max-w-[85%] text-center w-full max-w-screen-xl font-[normal] mx-auto my-0 p-8;
  /*margin: 0 auto;*/
}


body {
  @apply place-items-center min-w-[320px] min-h-screen transition-[color] duration-[0.5s,background-color] delay-[0.5s] leading-[1.6] text-[15px] m-0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.button-add {
  @apply border text-[1em] font-medium bg-[#353333] cursor-pointer transition-[border-color] duration-[0.25s] px-[1.2em] py-[0.6em] rounded-lg border-solid border-transparent;
  font-family: inherit;
}

.button-add button:hover {
  @apply border-[#646cff];
}
.button-add button:focus,
.button-add button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/
ul {
  @apply p-0;
  list-style: none;
}


